USE [master]
GO
/****** Object:  Database [TesteBackend_DB]    Script Date: 22/01/2021 16:54:22 ******/
CREATE DATABASE [TesteBackend_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TesteBackend_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TesteBackend_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TesteBackend_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TesteBackend_DB.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TesteBackend_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TesteBackend_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 22/01/2021 16:54:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proprietarios]    Script Date: 22/01/2021 16:54:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proprietarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomeCompleto] [nvarchar](max) NOT NULL,
	[DataNascimento] [datetime2](7) NOT NULL,
	[Cpf] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Proprietarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veiculos]    Script Date: 22/01/2021 16:54:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veiculos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[Marca] [nvarchar](max) NOT NULL,
	[Modelo] [nvarchar](max) NOT NULL,
	[Cor] [nvarchar](max) NOT NULL,
	[ProprietarioId] [int] NULL,
 CONSTRAINT [PK_Veiculos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210122125722_BancoInicial', N'5.0.2')
GO
SET IDENTITY_INSERT [dbo].[Proprietarios] ON 

INSERT [dbo].[Proprietarios] ([Id], [NomeCompleto], [DataNascimento], [Cpf]) VALUES (2, N'Renato de Matos Môra', CAST(N'1988-10-06T00:00:00.0000000' AS DateTime2), N'11122233344')
SET IDENTITY_INSERT [dbo].[Proprietarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Veiculos] ON 

INSERT [dbo].[Veiculos] ([Id], [Nome], [Marca], [Modelo], [Cor], [ProprietarioId]) VALUES (1, N'Ká', N'Ford', N'Hatch 2018', N'Preto', 2)
SET IDENTITY_INSERT [dbo].[Veiculos] OFF
GO
/****** Object:  Index [IX_Veiculos_ProprietarioId]    Script Date: 22/01/2021 16:54:22 ******/
CREATE NONCLUSTERED INDEX [IX_Veiculos_ProprietarioId] ON [dbo].[Veiculos]
(
	[ProprietarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Veiculos]  WITH CHECK ADD  CONSTRAINT [FK_Veiculos_Proprietarios_ProprietarioId] FOREIGN KEY([ProprietarioId])
REFERENCES [dbo].[Proprietarios] ([Id])
GO
ALTER TABLE [dbo].[Veiculos] CHECK CONSTRAINT [FK_Veiculos_Proprietarios_ProprietarioId]
GO
USE [master]
GO
